/* Layout */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #EEF1ED;
    color: #102228;
  }
  
  main {
    flex: 1;
  }

  /* Logo Header */
  .logo-img {
    height: 40px;
    width: auto;
  }
  
  .logo-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #102228;
  }
  
  /* Typography */
  h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #102228;
  }
  
  h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #102228;
  }
  
  h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #102228;
  }
  
  p, span, a, li {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
  }
  
  /* Navbar */
  .navbar {
    background-color: #102228;
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #FFFFFF !important;
    font-family: Quicksand, sans-serif;
  }
  
  .navbar-nav .nav-link.active {
    color: #D1DFFF !important;
    font-weight: bold;
    font-style: italic;
  }
  
  .navbar-nav .nav-link:hover {
    color: #D1DFFF !important;
  }

  .box-title {
    display: inline-block;
    background-color: #102228;
    background-size: contain;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }

  /* Main Content */
  .box-selection {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    transform: translate(0%, 125%);
  }

  #library-selection {
    background: url('../images/library.jpg');
    background-size: cover;
  }  

  #metronome-selection {
    background: url('../images/metronome.jpg');
    background-size: cover;
  } 

  #tuner-selection {
    background: url('../images/tuner.jpg');
    background-size: cover;
  } 

  /* Footer */
  footer {
    background-color: #102228;
    color: #FFFFFF;
  }