html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #EEF1ED;
    color: #102228;
}


main {
    flex: 1;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #102228;
    line-height: 40px;
}

p, span, a, li {
    font-family: 'Inter', sans-serif;
    font-weight: light;
    font-size: 16px;
    line-height: 22px;
}

.btn {
    border: 1px solid #082691; 
    color: #082691; 
    background-color: transparent;
}


.btn:hover {
    background-color: #4273C2; 
    color: white; 
}

#calendar .fc-button {
    border: 1px solid #082691 !important;
    color: #082691 !important;
    background-color: transparent !important;
    transition: background-color 0.3s;
    font-weight: normal !important;
}

#calendar .fc-button:hover {
    background-color: #4273C2 !important;
    color: white !important;
}

#calendar .fc-button:disabled {
    background-color: #EEF1ED !important;
    border-color: #C8CDD0 !important;
    color: #75828A !important;
}

/* Logo Header */
.logo-img {
    height: 40px;
    width: auto;
}

.logo-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #102228;
}

.fc .fc-button {
    background-color: #4273C2 !important;
    border-color: #4273C2 !important;
    color: #ffffff !important;
    font-weight: bold;
}

.fc .fc-button:hover,
.fc .fc-button:focus {
    background-color: #4273C2 !important;
    border-color: #4273C2 !important;
    color: #D1DFFF !important;
}

.navbar-toggler {
    background: white;
}  

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #102228;
}
  
.navbar-brand,
.navbar-nav .nav-link {
  color: #FFFFFF !important;
  font-family: Quicksand, sans-serif;
}

.navbar-nav .nav-link.active {
  color: #D1DFFF !important;
  font-weight: bold;
  font-style: italic;
}

.navbar-nav .nav-link:hover {
  color: #D1DFFF !important;
}


footer {
    background-color: #102228;
    color: #FFFFFF;
}